<div class="jumbotron" style="background-image: url('$!{background-image-path}'); text-align:center;">
	<div class="container">
  		<h1 class="display-3">$!{jumbo-title}</h1>
 		 <p>$!{jumbo-text}</p>
 		 <p><a class="btn btn-primary btn-lg" href="$!{jumbo-button-link}" role="button">$!{jumbo-button-text}</a></p>
    </div>
 </div>