<!-- NOTE: remember to change "allowedChildren.txt" of "stdPage" element type when you delete this UI-TEST -->
<p>
$!{short}
$!{longer-longer-longer}
$!{superlong-superlong-superlong-superlong-superlong-superlong-superlong-superlong-superlong-superlong-superlong-superlong}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
$!{more}
</p