<li id="$!{id}" class="nav-item" style="$!{nav-item-style}">
	<a class="nav-link" href="$!{navbar-link}" style="$!{link-style}">#if(${font-awesome-class})<i class="$!{font-awesome-class}"></i>#else#end$!{link-name}</a>
</li>
