<div class="card" style="width: $!{card-width}; $!{card-height};">
  <img class="card-img-top" src="$!{card-image-path};" alt="$!{image-description-text};">
  <div class="card-body">
    <h5 class="card-title">$!{card-text}</h5>
    <p class="card-text">$!{card-text}</p>
    <a href="$!{card-button-link};" class="btn btn-primary">$!{jumbo-button-text}</a>
  </div>
</div>