<button id="$!{id}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="$!{style}">
	#if(${font-awsome-class})<i class="$!{font-awsome-class}"> </i>#else#end$!{button-text}
</button>
