<!DOCTYPE html>
<!-- 
	************************
	* Created with: aefCMS *
	************************
-->
<html id="$!{id}">
	<head>
		<!-- Bootstrap Meta & CSS -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- / Bootstrap Meta & CSS -->
      
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- / Fontawesome -->

		<!-- highlight.js CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" rel="stylesheet" />
    <!-- / highlight.js CSS -->
		
		<!-- <pre> line numbering CSS, see: https://jsfiddle.net/tovic/AbpRD -->
		<style>	
			pre code,
			pre .line-number {
			  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
			  font:normal normal 12px/14px "Courier New",Courier,Monospace;
			  color:black;
			  display:block;
			}
			
			pre .line-number {
			  float:left;
			  margin: 0.6em 1em 0 -0.5em;
			  border-right:1px solid;
			  text-align:right;
			}
			
			pre .line-number span {
			  display:block;
			  padding:0 .5em 0 1em;
			}
			
			pre .cl {
			  display:block;
			  clear:both;
			}
		</style>
    <!-- / <pre> line numbering CSS, see: https://jsfiddle.net/tovic/AbpRD -->
		
		<title>$!{title}</title>	

	</head>
	<body style="$!{stdPage-style}">
		
		$!{children}
		
		<!-- Bootstrap Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
		<!-- highlight.js Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		
		<!-- <pre> line numbering Script, see: https://jsfiddle.net/tovic/AbpRD -->
		<script type="text/javascript">		
			(function() {
			    var pre = document.getElementsByTagName('pre'),
			        pl = pre.length;
			    for (var i = 0; i < pl; i++) {
			        pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
			        var num = pre[i].innerHTML.split(/\n/).length;
			        for (var j = 0; j < num; j++) {
			            var line_num = pre[i].getElementsByTagName('span')[0];
			            line_num.innerHTML += '<span>' + (j + 1) + '</span>';
			        }
			    }
			})();
		</script>
				
	</body>
</html>