<nav class="navbar navbar-expand-md $!{navbar-color}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample">
	<ul class="navbar-nav mr-auto">
		$!{children}
	</ul>
  </div>
</nav>