<nav id="$!{id}" class="navbar navbar-expand-md navbar-light bg-light" style="$!{search-navbar-style}"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#innerbar-$!{id}" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="innerbar-$!{id}">
	<ul class="navbar-nav mr-auto">
		$!{children}
	</ul>
  </div>
</nav>